body{
    background: dodgerblue;
    color: whitesmoke;
    font-family: segoe-ui, helvetica, arial, sans-serif;
}

input{
    border: none;
    padding: 10px;
    width: 280px;
}

select{
    padding: 10px;
    border: none;
    width: 200px;
}

textarea{
    border: none;
    padding: 10px;
}

.header{
    background: blueviolet;
    color: white;
    height: 120px;
    width: 99.1%;
    margin-top: -21px;
    margin-left: -70px;
    padding: 20px;
    padding-right:70px;
    text-align: right;
    border-bottom: 3px solid white;
}

#registration{
    float: left;
    width: 300px;
    height: 350px;
    margin: auto;
    padding-left: 30px;

    /*border: 2px solid white;*/
}

#login{
    float: right;
    width: 300px;
    height: 300px;
    margin: auto;
    padding-right: 70px;
    /*border: 2px solid white;*/
}

#reg_log{
    padding-top: 50px;
    width: 800px;
    height: 300px;
    /*border: 2px solid blue;*/
    margin: auto;

}

#form1{
 display:none;
}

#box{
    /*border: 1px solid gray;*/
    height: 180px;
    width: 200px;
    background-color: whitesmoke;
    /*text-align: center;*/
    color: #3299ff;

}
#box span{
    margin-left: 0;
    margin-bottom: 0;
    /*bottom: 0;*/
    /*margin: auto;*/
    position: relative;
    left: 73px;
    top:105px;
}